body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

button {
    cursor: pointer;
}

/* Header */
.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header a {
    font-size: 18px;
    color: #bec3ce;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0;
}

/* Container */ 

.container {
    background: #1F2937;
    display: flex;
    padding: 4em 8em;
}

.container h2 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.container p {
    font-size: 18px;
    color: #bec3ce;
    margin: 0;
    width: 80%;
}

.container button {
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 6px;
    border: none;
}

.image {
    min-width: 600px;
}

.text p {
    margin: 20px 0;
}

.container .image img{
    width: 100%;
    height: auto;
}

/* Abilities */

.abilities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 4em 4em 4em;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 20px;
}

.box p {
    margin: 0;
    color: #5d5d5e;
}

.box img {
    border: 1px solid #3882F6;
    border-radius: 2em;
    width: 100%;
}

.abilities h2 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 32px;
}

/* Quote */

.quote {
    background-color: #E5E5EB;
    padding: 4em 8em;
    display: flex;
    justify-content: center;
}

.quote p {
    font-size: 36px;
    color: #535860;
    font-style: italic;
    margin: 0;
}

.quote span {
    text-align: right;
    font-size: 25px;
    font-style: normal;
    float: right;
    margin: 10px 0 0 0;
    color: black;
}

/* Action */

.action {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    margin: 4em 8em;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.action button {
    background-color: #3882F6;
    border-radius: 6px;
    color: white;
    border: 1px solid white;
    height: 25px;
    padding: 0 25px;
}

.action #subtext {
    color: #d7dee9;
    margin: 0 0 40px 0;
}

.action #playnow {
    margin: 40px 0 0 0;
    font-weight: bold;
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #bac0ca;
    padding: 20px 0;
}