body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Header */
.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em 4em 4em;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header a {
    font-size: 18px;
    color: #bec3ce;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

/* Container */ 

.container {
    background: #1F2937;
    display: flex;
    padding: 0 4em;
}

.container h2 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.container p {
    font-size: 18px;
    color: #bec3ce;
}

.container button {
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 6px;
    border: none;
}

.container .image {
    width: 300px;
    height: 150px;
}


